# Site
NEXT_PUBLIC_SITE_URL=https://calculosonline.com.br
NEXT_PUBLIC_SITE_NAME=Calculos Online

# Analytics
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_CLARITY_PROJECT_ID=

# IndexNow
INDEXNOW_KEY=
INTERNAL_API_KEY=
